.Contact{
    width: 100%;
    padding-top: 210px;
    height: auto;
    .contact__img{
        background-image: url(../../assents/contacts__img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 690px;
        padding-top: 620px ;

    }
}