.Main{
height: auto;
width: 100%;
    overflow-x: hidden;  
}
 
// @media  (max-width: 425px) {
//     .Main{
//         height: 900vh !important; ;
//     }
 
// }
// @media  (max-width: 1200px) {
//     .Main{
//         height: 900vh !important; ;
//     }
 
// }
// @media  (max-width: 1320px) {
//     .Main{
//         height:827vh !important ;
//     }
 
// }

// @media (max-width: 1440px) {
//     .Main{
//         height:795vh ;
//     }
 
// }