.About {
  width: 100%;
  margin-top: 78px;
  background: #e8eff8;
  height: auto;
  padding-top: 64px;
  padding-bottom: 90px;
  .Paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 76px;
    width: 100%;
    margin-bottom: 50px;
    gap: 18%;
    .about__left {
      display: flex;
      align-items: center;
    }
    .about__right {
      display: flex;
      flex-direction: column;
      gap: 84px;
      width: 50%;
      .button {
        display: flex;
       gap: 25%;
      }
    }
  }
  .about__under {
    display: flex;
    gap: 40px;
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .About{
      height:auto ;
  }
  .about__left{
    flex-direction: column;
    gap:95px !important ;
  }
  .about__under{
    width: 100% !important;
    margin-top: 160px;
  }
  .about__flex{
    gap: 20%;
  }
}

@media screen and (max-width: 768px) {
  .About{
    height:auto ;
 
    }
    .about__right {
      display: flex;
      flex-direction: column;
      gap: 84px;
      p{
        font-size: 20px !important;
        width: 100% !important;
      }
}
}

@media  (max-width: 425px) {
  .About{
   height: auto;
  }
.about__flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  .about__right {
    margin-top: 140px;
    width: 100%  !important;
  }
}
.about__under{
 display: none !important;
}
  }
  @media  (max-width: 625px) {
    .About{
     height: auto;
    }
  .about__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__right {
      margin-top: 140px;
      width: 100% !important;
    }
  }
  .about__under{
   display: none !important;
  }
    }
 

